<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel ="stylesheet" href="/css/home.css">

    </head>
    <body>
        <h1>TO DO list :<%=title %></h1>

        <h2>Description</h2>

        <form action ='/add-task' method="POST">
        <input type ="text" name ="desc" placeholder="e.g Write a letter" required>
        
        <button type ="submit">Add task</button>
        <button type="submit">Delete Task</button>
        
        </form>



        <h3>Category</h3>


        <h3>Due Date</h3>
      


        <div>

            <ul>
                <% for(let i of desc_list) {%>

                    <li>
                        <%=i.desc%>
                        
                    </li>

                <%}%>


            </ul>





        </div>




    </body>
</html>